# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual Environment
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and Reports
logs/
screenshots/
reports/

# Behave artifacts
*.xml
*.html
*.json
